{{data}}

<form action={% url "crsf_exemple" %} method="post">
    <!-- {{ form }} -->
    <input type="text" placeholder="Username">
    <input type="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>
<script>
    document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
