{% extends "login/header.html" %}

{% block content %}      

{% load crispy_forms_tags %}

<!--Login--> 

<div class="container py-5">
    <script>alert(`XSS`)</script>
  <h1>Welcome {{name}}</h1>
  
</div>

{% endblock %}